doctype html
html(lang="en")
  head
    title reveal.js boiler plate
  body
    .reveal
      .slides
        section
          h1 Slide 1
        section
          h1 Slide 2
  script(type='text/javascript' src="bundle.js")
