doctype html
html(lang="en")
  head
    title An introduction to swagger
  body
    .reveal
      .slides
        section
          h2 An introduction to
          h1 swagger
          img(src=require("./assets/swagger_logo.png") style="background: none; border: none;")
          p
            i by Fabian Ihl
        section
          h2 Motivation
          figure.fragment.fade-in
            img(src=require("./assets/motivation.jpg") style="height: 500px;")
            figcaption (by geek-and-poke.com)
        section
          h2 What is swagger?
          p.fragment
            | Swagger is a formal
            a(href="http://swagger.io/specification/")  specification
            |  surrounded by a large ecosystem of
            a(href="http://swagger.io/tools/")  tools
            |  for REST APIs.
        section
          section
            h1 Why swagger?
            p.fragment
              i.fa.fa-arrow-down.fa-3x
          section
            h2 Alternatives
            ul
              li.fragment RAML
              li.fragment API Blueprint
          section
            h2 Common goals
            ul
              li Easy to write
              li Comfortable to read
              li Documentation / Client / Server generation
              li Language agnostic
          section
            h2 What about WSDL 2.0?
            ul
              li.fragment Core concept SOAP not REST oriented
              li.fragment Sparse documentation
              li.fragment Limited community
              li.fragment Hard to read
              li.fragment Tedious to write
              li.fragment Limited REST specific tool chain
          section
            h2 Comparison
            table
              thead
                tr
                  th
                  th RAML
                  th API Blueprint
                  th Swagger
              tbody
                tr.fragment.highlight-current-blue
                  th Format
                  td yaml
                  td markdown
                  td json/yaml
                tr.fragment.highlight-current-blue
                  th Github (repos)
                  td 587
                  td 293
                  td 2209
                tr.fragment.highlight-current-blue
                  td
                    b Stackoverflow
                  td 330
                  td 770
                  td 3802
          section
            h3 Back to swagger
            p
              i.fa.fa-arrow-right.fa-3x
        section
          h2 License
          p.fragment Apache 2.0
        section(tagcloud large)
          h2 Support for
          p.fragment.
            CLOJURE
            D
            Erlang
            GO
            HASKELL
            JAVA
            JAVASCRIPT
            TYPESCRIPT
            .NET
            NODE.JS
            PERL
            PHP
            PYTHON
            RUBY
            SCALA
        section
          h2 Features
          p.fragment Specification
          p.fragment
            i.fa.fa-arrow-down
          ul
            li.fragment Documentation
            li.fragment Sandboxes
            li.fragment Client code generation
            li.fragment Server code generation
            li.fragment Design-First Approach
        section
          h2 When to integrate?
          p.fragment(data-fragment-index="0")
            | Top down
            br
            i.fa.fa-arrow-down.fa-3x
          img(src=require("./assets/swagger_logo.png") style="background: none; border: none;")
          p.fragment(data-fragment-index="1")
            i.fa.fa-arrow-up.fa-3x
            br
            | Bottom up
        section
          h2 Specification
          h3 Format
          p.fragment JSON, YAML
          p.fragment
            | data types:
            a(href="http://json-schema.org/")  JSON Schema Draft 4
        section
          h2 Specification
          h3 Structure
          ol
            li
              p
                b.fragment Info
                br
                q.fragment The object provides metadata about the API.
            li
              p
                b.fragment Paths
                br
                q.fragment Holds the relative paths to the individual endpoints. Describes the operations available.
            li
              p
                b.fragment Definitions
                br
                q.fragment An object to hold data types that can be consumed and produced by operations.
        section
          h2 Info
          pre
            code.yaml
              include ../samples/info.yaml
        section
          h2 Paths
          pre
            code.yaml
              include ../samples/paths.yaml
        section
          h2 Definitions
          pre
            code.yaml
              include ../samples/definitions.yaml
  script(type='text/javascript' src="bundle.js")
